<div class="nav">
  <div class="nav-header">
    <a class="nav-logo" href="/" title="home">
      <img src="/assets/img/logo-stencilpunks.png" height="301" width="375" alt="Stencil Punks Logo">
    </a>
    <button class="nav-toggle">
      <div class="title">menu</div>
      <div class="open icon">X</div>
      <div class="closed icon">...</div>
    </button>
  </div>

  <ul class="nav-list">
    <li><a href="/stencils">Stencils</a></li>
    <li><a href="/tutorials">How To</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/links">Links</a></li>
  </ul>
</div>
